In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [151]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv',nrows= 6605)
gdp_df.shape

(6605, 4)

In [154]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  2190.240321              NaN
1     Afghanistan  2017  2202.570851              NaN
2     Afghanistan  2016  2200.764487              NaN
3     Afghanistan  2015  2212.750899              NaN
4     Afghanistan  2014  2249.253738              NaN

In [122]:
type(gdp_df)

pandas.core.frame.DataFrame

In [152]:
internet_df = pd.read_csv('../data/internet_use.csv', nrows= 4495)
internet_df.shape

(4495, 4)

In [124]:
internet_df.head(6)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

In [125]:
type(internet_df)

pandas.core.frame.DataFrame

In [126]:
gdp_df.tail(10)

     Country or Area  Year        Value  Value Footnotes
6595        Zimbabwe  2000  3473.429801              NaN
6596        Zimbabwe  1999  3600.849291              NaN
6597        Zimbabwe  1998  3653.920016              NaN
6598        Zimbabwe  1997  3580.048793              NaN
6599        Zimbabwe  1996  3520.430146              NaN
6600        Zimbabwe  1995  3226.413930              NaN
6601        Zimbabwe  1994  3263.934978              NaN
6602        Zimbabwe  1993  3033.504852              NaN
6603        Zimbabwe  1992  3054.889178              NaN
6604        Zimbabwe  1991  3426.598094              NaN

In [127]:
internet_df.tail(10)

     Country or Area  Year     Value  Value Footnotes
4485        Zimbabwe  2002  3.994356              NaN
4486        Zimbabwe  2001  0.799846              NaN
4487        Zimbabwe  2000  0.401434              NaN
4488        Zimbabwe  1999  0.161676              NaN
4489        Zimbabwe  1998  0.081648              NaN
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN
4494        Zimbabwe  1990  0.000000              NaN

In [128]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [138]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

In [139]:
internet_df = internet_df.drop(columns = ['Value Footnotes'])

KeyError: "['Value Footnotes'] not found in axis"

In [141]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value'], dtype='object')

In [142]:
gdp_df.rename(columns = {'Country or Area': 'Country', 'Year': 'Year', 'Value' : 'GDP_Per_Capita'})

          Country  Year  GDP_Per_Capita
0     Afghanistan  2018     2190.240321
1     Afghanistan  2017     2202.570851
2     Afghanistan  2016     2200.764487
3     Afghanistan  2015     2212.750899
4     Afghanistan  2014     2249.253738
...           ...   ...             ...
6600     Zimbabwe  1995     3226.413930
6601     Zimbabwe  1994     3263.934978
6602     Zimbabwe  1993     3033.504852
6603     Zimbabwe  1992     3054.889178
6604     Zimbabwe  1991     3426.598094

[6605 rows x 3 columns]

In [143]:
internet_df.columns

Index(['Country or Area', 'Year', 'Value'], dtype='object')

In [144]:
internet_df.rename(columns = {'Country or Area': 'Country', 'Year': 'Year', 'Value' : 'Internet_Users_Pct'})

          Country  Year  Internet_Users_Pct
0     Afghanistan  2014            6.390000
1     Afghanistan  2013            5.900000
2     Afghanistan  2012            5.454545
3     Afghanistan  2011            5.000000
4     Afghanistan  2010            4.000000
...           ...   ...                 ...
4490     Zimbabwe  1997            0.033080
4491     Zimbabwe  1996            0.016790
4492     Zimbabwe  1995            0.007684
4493     Zimbabwe  1994            0.001739
4494     Zimbabwe  1990            0.000000

[4495 rows x 3 columns]

In [150]:
gdp_and_internet_us = pd.merge(gdp_df, internet_df,                            
                               how = 'outer')
gdp_and_internet_us.head(3)

  Country or Area  Year        Value
0     Afghanistan  2018  2190.240321
1     Afghanistan  2017  2202.570851
2     Afghanistan  2016  2200.764487